/* Site nav (including tag buttons) */

#main-nav {
  text-transform: uppercase;
  border-bottom: 3px solid var(--color-bg-accent);
  background-color: var(--color-bg-alt);
}

#main-nav .button {
  margin: 0;
}

  /* Site nav dropdown boxes align left */
#main-nav .is-dropdown-submenu .button {
  text-align: left;
}

#main-nav, #main-nav a {
  color: var(--color-fg-alt);
}

#main-nav .button:hover a, #main-nav a:hover,
#main-nav .button.active a, #main-nav a.active {
  background-color: var(--color-bg-accent);
  color: var(--color-fg-accent);
}

#main-nav .is-dropdown-submenu {
   border-color: var(--color-bg-accent);
}

#menu-toggle {
  padding: 10px;
  font-weight: bold;
  background-color: var(--color-bg-alt);
  color: var(--color-fg-alt);
}

.nav-arrow {
  float: right;
}
