{{- if and .Params.iubenda.color (and (ne .Params.iubenda.color "black") (ne .Params.iubenda.color "white")) -}}
    {{- errorf "%s is not a valid Iubenda button color - valid values are unset, \"black\", or \"white\"" .Params.iubenda.color -}}
{{- end -}}

{{- $iubColor := .Params.iubenda.color -}}
{{- if and (ne .Params.iubenda.color "black") (ne .Params.iubenda.color "white") -}}
    {{- $color := partial "css/color/parse_color" $.Site.Params.color -}}
    {{- if partial "utils/color/is_dark" $color.Alt.Background -}}
        {{ $iubColor = "white" }}
    {{ else }}
        {{ $iubColor = "black" }}
    {{ end }}
{{- end -}}
{{- return $iubColor -}}
