{{ partial "matomo/foot.html" . }}
{{ partial "iubenda/foot.html" . }}

<script type="text/javascript" src="{{ partial "get_min_url" (dict "URL" "/js/jquery.slim%s.js" "Site" $.Site) }}" defer></script>
<script type="text/javascript" src="{{ partial "get_min_url" (dict "URL" "/js/foundation%s.js" "Site" $.Site) }}" defer></script>

{{ if $.Site.Params.thumbnail -}}
    {{ $url := partial "get_min_url" (dict "URL" "/js/thumbnail%s.js" "Site" $.Site) }}
    <script type="text/javascript" src="{{ $url }}" defer></script>
{{- end -}}

{{- partial "shortcodes/partial.html" (dict "Prop" "foot" "Root" $) -}}

{{- partial "sidebar/partial.html" (dict "Prop" "foot" "Root" $) -}}

{{- partial "comments/partial.html" (dict "Prop" "foot" "Root" $) -}}

{{- partial "plugins/partial.html" (dict "Prop" "foot" "Root" $) -}}

<script type="text/javascript" src="{{ partial "get_min_url" (dict "URL" "/js/index%s.js" "Site" $.Site) }}" defer></script>
