<!-- Prematurely connect to the servers to save some milliseconds -->
<!-- <link rel="preload"> is only in recent browser versions, so we keep "dns-prefetch" and "preconnect" -->
<!-- <link rel="prefetch" is loads content the user may request *after* the page loads -->

{{ partial "fontawesome/head.html" . }}

{{ partial "matomo/head.html" . }}

{{ partial "iubenda/head.html" . }}

{{ if $.Site.Params.hashover }}
    {{ partial "async/css.html" (dict "URL" "hashover/comments.css" "Integrity" "sha384-Ef/dA/KgOCpRpXdcwlTPVy3C83rE6PlHVZqLyDYDPnegQm7qtWkEG5aTRGGaizd6") }}
{{ end }}

{{- .Scratch.Set "sitevar" $.Site -}}
{{- partial "css/color/parse_color.css" .Scratch -}}
{{- .Scratch.Set "label" "alt_bg" -}}
{{- partial "css/color/detect_light_or_dark.css" .Scratch -}}

{{- if ($.Scratch.Get "alt_bg_is_dark") -}}
    {{- .Scratch.Set "code_css" (add (add "css/dark" (cond ($.Site.Params.no_minimize | default false) "" ".min")) ".css") }}
{{- else -}}
    {{- .Scratch.Set "code_css" (add (add "css/light" (cond ($.Site.Params.no_minimize | default false) "" ".min")) ".css") }}
{{- end -}}

{{ partial "async/css.html" (dict "URL" (.Scratch.Get "code_css")) }}

{{ partial "async/css.html" (dict "URL" "styles.css") }}

{{ $files := slice "fonts" "reset" "classes" "screen-size" "navigation" "page" "widgets" }}
{{ range $f := $files }}
    {{ $file := printf "css/%s%s.css" $f (cond ($.Site.Params.no_minimize | default false) "" ".min") }}
    <link rel="stylesheet" type="text/css" href="{{ absLangURL $file }}">
{{ end }}

{{ if eq .Kind "page" }}
{{ partial "async/css.html" (dict "URL" (printf "css/single%s.css" (cond ($.Site.Params.no_minimize | default false) "" ".min"))) }}
{{ else }}
{{ partial "async/css.html" (dict "URL" (printf "css/list%s.css" (cond ($.Site.Params.no_minimize | default false) "" ".min"))) }}
{{ end }}

{{ if .Content -}}
    {{ $figures := findRE "<figure" .Content -}}
    {{ $forms := findRE "<form" .Content -}}
    {{ $tables := findRE "<table" .Content -}}
    
    {{ if gt (len $figures) 0 }}
    {{ partial "async/css.html" (dict "URL" (printf "css/figure%s.css" (cond ($.Site.Params.no_minimize | default false) "" ".min"))) }}
    {{ end }}
    
    {{ if gt (len $forms) 0 }}
    {{ partial "async/css.html" (dict "URL" (printf "css/forms%s.css" (cond ($.Site.Params.no_minimize | default false) "" ".min"))) }}
    {{ end }}
    
    {{ if gt (len $tables) 0 }}
    {{ partial "async/css.html" (dict "URL" (printf "css/table%s.css" (cond ($.Site.Params.no_minimize | default false) "" ".min"))) }}
    {{ end }}
{{ end -}}

{{ if $.Site.Params.iubenda.id }}
{{ partial "async/css.html" (dict "URL" (printf "css/iubenda%s.css" (cond ($.Site.Params.no_minimize | default false) "" ".min"))) }}
{{ end }}

<link rel="preload" media="print" type="text/css" href="{{ absLangURL (printf "css/print%s.css" (cond ($.Site.Params.no_minimize | default false) "" ".min")) }}" as="style">

{{ partial "async/cssrelpreload.js.html" }}

{{- /* Include any code from sidebar widgets */ -}}
{{- partial "sidebar/widget_list.html" . -}}
{{- range $name := $.Scratch.Get "widget_list" -}}
    {{- $.Scratch.Set "widget_name" $name -}}
    {{- partial "sidebar/widget_definition.html" $ -}}
    {{- $widget := $.Scratch.Get "widget" -}}
    {{ with $widget.head }}
        {{- partial . $ -}}
    {{- end -}}
{{- end -}}

{{- /* Include any code from shortcodes */ -}}
{{- partial "shortcodes/get_list.html" $ -}}
{{- range $name := ($.Scratch.Get "shortcodes") -}}
    {{- if $.Page.HasShortcode $name -}}
        {{- $.Scratch.Set "shortcode_name" $name -}}
        {{- partial "shortcodes/definition.html" $ -}}
        {{- $shortcode := $.Scratch.Get "shortcode" -}}
        {{- with $shortcode.head -}}
            {{- partial . $ -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{ if .Content -}}
    {{ $urls := findRE "<img src=\"[^\"|\\\"]*\"" .Content -}}
    {{ range $url := $urls -}}
      {{ $url := (strings.TrimPrefix "<img src=\"" $url) -}}
      {{ $url := strings.TrimSuffix "\"" $url -}}
      <link rel="preload" href="{{ $url | htmlUnescape | safeHTML }}" as="image" />
    {{ end -}}
{{ end -}}

{{ partial "matomo/head2.html" . }}

{{- partial "favicons.html" . -}}
