{{- /* Include any code from comments provider */ -}}
{{- if and ($.Root.Site.Params.comments.provider) (and ($.Root.IsPage) (not $.Root.Params.disable_comments)) -}}
    {{- $.Root.Scratch.Set "comments_name" $.Root.Site.Params.comments.provider -}}
    {{- partial "comments/definition.html" $.Root -}}
    {{- $c := $.Root.Scratch.Get "comments" -}}
    {{- with (index $c $.Prop) -}}
        {{- if and .cache (ne $.Root.Site.Params.ref_type "relative") -}}
            {{- partialCached .path $.Root -}}
        {{- else -}}
            {{- partial .path $.Root -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
