{{- if $.Site.Params.iubenda.pro.enable_pro -}}
    {{- with $.Site.Params.iubenda.id -}}
        {{- $content := getJSON (add (add "http://www.iubenda.com/api/privacy-policy/" .) "/no-markup") -}}
        {{- if $content.success -}}
            {{- $content.content | replaceRE "<h1>(.*)</h1>" "" | safeHTML -}}
        {{- else -}}
            {{- if $.Site.Params.iubenda.pro.ignore_failed_download -}}
                {{- errorf "Failed to fetch the content of the Privacy Policy." -}}
            {{- end -}}
        {{- end -}}
    {{- else -}}
        {{- errorf "(%s) Iubenda id is necessary to use Iubenda features." .Page.File.Path -}}
    {{- end -}}
{{- else -}}
    {{- errorf "(%s) Iubenda pro features are not enabled. Pro features must be enabled to use the iubenda shortcode." .Page.File.Path -}}
{{- end -}}
