{{- $server := default (default "" $.Site.Params.forms.server) (.Get "server") -}}
{{- if not $server -}}
    {{- errorf "A server for the form in %s must be defined" $.File.Path -}}
{{- end -}}

{{- $path := .Get "path" -}}
{{- $multipart := gt (len (findRE "<input .*type=\"file\"" .Inner)) 0 -}}
<form method="POST" class="form-container" name="{{ .Get "name" }}" id="{{ .Get "id" }}" action="{{ printf "%s%s" $server $path }}"{{ if $multipart }}enctype="multipart/form-data"{{ end }}>
    {{ .Inner }}
    {{ with (.Get "honeypot") }}
    <div class="grid-x grid-padding-x hide">
        <div class="cell small-text-center medium-4 medium-text-right">
            <label for="{{ . }}">Leave empty:</label>
        </div>
        <div class="cell small-text-center medium-8 medium-text-left">
            <input type="text" id="{{ . }}" name="{{ . }}" />
        </div>
    </div>
    {{ end }}
    <div class="grid-x grid-padding-x">
        <button class="cell medium-4 large-3 left button" type="reset">
            Reset
        </button>
        <button class="cell medium-4 large-3 right button" id="{{ .Get "id" }}-submit" type="submit">
            Submit
        </button>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell callout hide" id="{{ .Get "id" }}-status">
        </div>
    </div>
</form>
